<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon</h1>
    
    
    
    
    <% for(let i = 0; i < pokemon.length; i++) { %>

        <a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a>
        <a href="/pokemon/<%= i %>"><img src=" <%= pokemon[i].img %>"></a>

        <% } %>
    
</body>
</html>