body {
    background-color: #B3A125;
    /* background-image: url("yellow_diagonal_geometric_striped_background_with_halftone_detailed.jpg"); */
    display: flex;
}



.seePokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    width: 1200px;
    height: 100%;
    background-color: #3B4CCA;
    align-items: center;
    border:5px solid #FFDE00;

}
.seePokemon a{
    color: rgb(241, 239, 228);
    text-decoration: none;
}

h1 {
    font-size: 4.5rem;
    color:#CC0000;
}

/* index page styling */
.pageTitle h1{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.pokes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    text-align: center;
    justify-content: space-evenly;
}

.pokeChar a img {
    height: auto;
    width: 200px;
    border: 3px solid #CC0000;
    border-radius: 8px;
    box-shadow: 8px 8px rgb(23, 22, 22);
}

.pokeChar {
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
    padding: 10px 0 10px 0;
    font-size: 1.5rem; 
}

/* show page styling */

